
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #717171;
}

.to-do-container {
  max-height: 600px;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
}

.task-input {
  width: 100%;
}

.task-list {
  list-style: none;
}
.task-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-list li p {
  margin: 0;
  font-size: 20px;
}

.task-container {
  display: flex;
  gap: 10px;
}

.list-item {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}